<!DOCTYPE html>
<html lang="en">
{% load static %}

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" style="margin-left: 14%; margin-right: 4%">
    <a class="navbar-brand" href="https://github.com/SandipSonawane">
        <img src="{% static '/images/profile_pic/dice.ico' %}" width="30" height="30" class="d-inline-block align-top"
             alt="">
        My Work
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://sandip-ai.live/"><i class="fa fa-home fa-fw mr-1"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#apps"><i class="fa fa-spinner fa-fw mr-1"></i> Apps</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#projects"><i class="fa fa-sitemap fa-fw mr-1"></i> Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#work-experience"><i class="fa fa-code"></i> Work Exp.</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="https://drive.google.com/file/d/1WDmRJ_YNJPBx7LUUbVhEFt5a4UmJENrN/view?usp=sharing"
                   target="_blank"><i class="fa fa-th-list"></i> Resume</a></li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="mailto:sandip2@illinois.edu" target="_blank"><i
                        class="fa fa-paper-plane"></i>
                    Contact Me</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#about"><i class="fa fa-user"></i> About Me</a>
            </li> -->
        </ul>
    </div>
</nav>


<br>
<br>
<hr>

</body>
</html>